.specify
specs
.workmux.yaml
thoughts
report.xml
coverage.xml
dist/
tags
.idea/
*.pyc
.coverage
.pytest_cache/
.ty/
*.egg-info/
__pycache__/
venv
.envrc
.pybuild/
debian/python3-sse-starlette.postinst.debhelper
debian/python3-sse-starlette.prerm.debhelper
debian/.debhelper/
debian/python3-sse-starlette/
build/
debian/python3-sse-starlette.substvars
debian/files
debian/debhelper-build-stamp
